  <!-- accent bg orange-500 | text white -->
  <header class="w-full bg-orange-500 gap-16 h-16 flex items-center justify-center">
    <h1 class="text-white text-3xl font-bold font-sans uppercase">NOSTR TOOLS</h1>  <!-- put eyes follow mouse in the 'OO' of 'TOOLS'  -->
    <button class="btn btn-primary">Login [ icon: ostrich ]</button>
    <button class="btn btn-accent">Zap [ icon: zap/lightning/heart ]</button>
  </header>
  <main class="p-12">
    <div class="flex gap-1 justify-stretch items-center">
      <!-- Item is selected -->
      <article class="card card-border bg-base-100 w-96 relative overflow-hidden">
        <section class="card-body">
          <header class='flex gap-4'>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
              </div>
            </div>
            <h2 class="card-title">Catsr</h2>
          </header>
          <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
        </section>
        <div class="absolute inset-0 bg-white/60"> </div>
      </article>

      <span class="w-96 h-1 bg-success"></span>
      <input type="checkbox" checked="checked" class="checkbox checkbox-success" />
      <span class="w-96 h-1 bg-success"></span>

      <article class="card card-border bg-base-100 w-96 relative overflow-hidden">
        <section class="card-body">
          <header class='flex gap-4'>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
              </div>
            </div>
            <h2 class="card-title">Catsr</h2>
          </header>
          <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
        </section>
        <div class="absolute inset-0 bg-success/10"> </div>
      </article>
    </div>

    <!-- haven't added the overlay -->
    <div class="flex gap-1 justify-stretch items-center">
      <!-- loading -->
      <article class=" timeline-start card card-border bg-base-100 w-96">
        <section class="card-body">
          <header class='flex gap-4'>
            <div class="avatar">
              <div class="w-12 skeleton rounded-full"></div>
            </div>
            <h2 class="card-title skeleton"><span class="invisible">Card Title</span></h2>
          </header>
          <p class="skeleton"><span class="invisible">A card component has a figure, a body part, and inside body there are title and actions parts</span></p>
        </section>
      </article>

      <span class="w-96 h-1 bg-base-300"></span>
      <!-- depends on the line status : success | rejected | idl -->
      <input type="checkbox" checked="checked" class="checkbox checkbox-primary" />
      <span class="w-96 h-1 bg-base-300"></span>

      <article class="card card-border bg-base-100 w-96">
        <section class="card-body">
          <header class='flex gap-4'>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
              </div>
            </div>
            <h2 class="card-title">Catsr</h2>
          </header>
          <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
        </section>
      </article>
    </div>

  </main>
  <footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover">Marketing</a>
      <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </nav>
  </footer>
